body{
    background-color: #F6F5FA;
}

.active{
    background-color: #E7E7FF;
    border-radius: 7px;
}

.red{
    background-color: red;
}

.menumargintop{
    margin-top: 4%;
}

.menualtura{
    height: 500px;
}