@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&quot;");
 html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #888;
    overflow-x: hidden;
    font-size: 15px;
    background-color: #ff6b81;
  }

  .logo-header{
    width: 10%;
    margin-left: 8%;
  }

  .button-top{
    border: 1.9px solid white;
    width: 12%;
    height: 40px;
    border-radius: 4px;
    background-color: #ff6b81;
    color: white;
    float: right;
    margin-right: 8%;
  }
  .button-top:hover{
    background-color: white;
    color: #ff6b81;
  }

  header{
    margin-top: 2%;
  }

  h1{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 5%;
  }

  .content-subtitle{
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 2%;
  }

  .box-phone{
    margin-top: 13%;
    text-align: center;
  }



